---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Myimagen from '../components/Myimagen.astro';
import Articlep from '../components/Articlep.astro';

/* const typelang ="java"; */
---

<Layout title="Welcome to Astro.">
	<main>

		<h1>CURSO HTML</h1>

		<Articlep>
			<h2>Qué es HTML?</h2>
			<p>HTML, siglas de "HyperText Markup Language" (Lenguaje de Marcado de Hipertexto en español), es el lenguaje estándar utilizado para crear y diseñar páginas web. Es un lenguaje de marcado que define la estructura y el contenido de una página web mediante el uso de etiquetas o elementos HTML. Estas etiquetas permiten a los desarrolladores web describir y organizar el contenido de una página de manera jerárquica y semántica.</p>
			<p>En esencia, HTML actúa como un esqueleto o estructura básica de una página web, permitiendo la inclusión de texto, imágenes, enlaces, formularios y otros elementos multimedia. Las etiquetas HTML indican al navegador web cómo debe interpretar y mostrar cada parte del contenido en la página.</p>
			<p>Algunos ejemplos de etiquetas HTML comunes incluyen:</p>
			<ul>
				<li>&lt;html&gt;: Define el inicio y el final del documento HTML.</li>
				<li>&lt;head&gt;: Contiene metadatos como el título de la página y enlaces a hojas de estilo.</li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
			<p></p>
			<p></p>
		</Articlep>

	

	</main>

	
</Layout>

<style>




	
	main {
	/* 	margin: 0 auto;
		padding: 1rem; */
		color: white;
		font-size: 20px;
		line-height: 1.6;
		/* margin: 10px; */
	}
	


	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	
	
</style>
